* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

.page-wrapper {
  padding: 0 40px;
  margin-top: 40px;
}

.main-nav {
  background: #1b2a49;
  color: #fff;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-container {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #f0f0f0;
  text-decoration: none;
}
.nav-links a.active {
  color: #ffd54f;
  font-weight: 600;
  border-bottom: 2px solid #ffd54f;
}

.main-footer {
  background: #1b2a49;
  color: #ccc;
  text-align: center;
  padding: 14px 0;
  margin-top: 60px;
  font-size: 14px;
}

/* TABEL */
.table-wrapper {
  overflow-x: auto;
}

.table-wrapper table {
  table-layout: auto;
  width: auto;
  white-space: nowrap;
}

.table-wrapper.empty table {
  table-layout: fixed; /* agar header full width saat kosong */
  width: 100%;
}

table td:nth-child(4),
table th:nth-child(4) {
  white-space: normal;
  word-break: break-word;
}

table td,
table th {
  white-space: nowrap;
}

/* Responsive */
@media (max-width: 700px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 8px;
  }
}

@media (max-width: 700px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 8px;
  }
}
